.App {
  text-align: center;
  
}

.App-logo {
float: left;
position: relative;
/* margin: 0px 0px 10px 0px; */

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

a:link {
  color: #61dafb;
text-decoration: none;
display: inblock;
color: rgb(255, 0, 0);
text-align: center;
padding: 0px 60px;
text-decoration: none;
font-size: 20px;


}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container > * {
    display: inline-block;
}


.button {
    background-color: lightgray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}

li {
font-size: 16px;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #37373a46;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
}

div {
   background-color: #f2f2f2;
    padding: 20px;
    align-items: center;

}


img{


}

.home-icon {
/* border: 1px solid #ddd;
border-radius: 10px; */
padding: 5px;
width:200px;
height: 300px;
}
.home-icon:hover{
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 5px;
    text-align: left;
}

div[id=player]{
  background-color: #282c34;
  min-height: 100vh;
 
  flex-direction: column;
  align-items: baseline;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  display: block;
 


}







.myBox {
    border: none;
    padding: 5px;
    font: 24px / 36px sans-serif;
    width: 500px;
    height: 500px;
    overflow: scroll;
  text-align: center;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(202, 183, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(202, 183, 255)

}

.ytp-cued-thumbnail-overlay-image{
align-items: center;

}